
  <br>
<div class ="container" style="background-color: rgb(249, 244, 244);">
    <br>
  <div class="row">
    <div class="col-6 col-sm-4" >
        <div class="card">
            <div ><img src="assets/Chebika-in-Tunisia-scaled.jpg " class="img-fluid"></div>
             <div class="content">
               <a href="#">
                 <span class="title">
                   Lorem ipsum dolor sit amet consectetur adipisicing elit.
                 </span>
               </a>
           
               <p class="desc">
                 Lorem ipsum dolor sit amet, consectetur adipisicing elit. Recusandae
                 dolores, possimus pariatur animi temporibus nesciunt praesentium 
               </p>
           
               <a type="button" (click)="gotoPage('checkout')" class="action">
                 Find out more
                 <span aria-hidden="true">
                   →
                 </span>
               </a>
             </div>
           </div>
    </div>
      <div class="col-6 col-sm-4"><div class="card">
        <div ><img src="assets/Chebika-in-Tunisia-scaled.jpg " class="img-fluid"></div>
         <div class="content">
           <a href="#">
             <span class="title">
               Lorem ipsum dolor sit amet consectetur adipisicing elit.
             </span>
           </a>
       
           <p class="desc">
             Lorem ipsum dolor sit amet, consectetur adipisicing elit. Recusandae
             dolores, possimus pariatur animi temporibus nesciunt praesentium 
           </p>
       
           <a type="button" (click)="gotoPage('checkout')" class="action">
             Find out more
             <span aria-hidden="true">
               →
             </span>
           </a>
         </div>
       </div>
  </div>
  <div class="col-6 col-sm-4">
    <div class="card">
        <div ><img src="assets/Chebika-in-Tunisia-scaled.jpg " class="img-fluid"></div>
         <div class="content">
           <a href="#">
             <span class="title">
               Lorem ipsum dolor sit amet consectetur adipisicing elit.
             </span>
           </a>
       
           <p class="desc">
             Lorem ipsum dolor sit amet, consectetur adipisicing elit. Recusandae
             dolores, possimus pariatur animi temporibus nesciunt praesentium 
           </p>
       
           <a type="button" (click)="gotoPage('checkout')" class="action">
             Find out more
             <span aria-hidden="true">
               →
             </span>
           </a>
         </div>
       </div>
</div>
</div>
 
  <div class="row">
    <div class="col-6 col-sm-4">
        <div class="card">
            <div ><img src="assets/Chebika-in-Tunisia-scaled.jpg " class="img-fluid"></div>
             <div class="content">
               <a href="#">
                 <span class="title">
                   Lorem ipsum dolor sit amet consectetur adipisicing elit.
                 </span>
               </a>
           
               <p class="desc">
                 Lorem ipsum dolor sit amet, consectetur adipisicing elit. Recusandae
                 dolores, possimus pariatur animi temporibus nesciunt praesentium 
               </p>
           
               <a href="#" class="action">
                 Find out more
                 <span aria-hidden="true">
                   →
                 </span>
               </a>
             </div>
           </div>
    </div>
    <div class="col-6 col-sm-4">
        <div class="card">
            <div ><img src="assets/Chebika-in-Tunisia-scaled.jpg " class="img-fluid"></div>
             <div class="content">
               <a href="#">
                 <span class="title">
                   Lorem ipsum dolor sit amet consectetur adipisicing elit.
                 </span>
               </a>
           
               <p class="desc">
                 Lorem ipsum dolor sit amet, consectetur adipisicing elit. Recusandae
                 dolores, possimus pariatur animi temporibus nesciunt praesentium 
               </p>
           
               <a type="button" (click)="gotoPage('checkout')" class="action">
                 Find out more
                 <span aria-hidden="true">
                   →
                 </span>
               </a>
             </div>
           </div>
    </div>
      <div class="col-6 col-sm-4"><div class="card">
        <div ><img src="assets/Chebika-in-Tunisia-scaled.jpg " class="img-fluid"></div>
         <div class="content">
           <a href="#">
             <span class="title">
               Lorem ipsum dolor sit amet consectetur adipisicing elit.
             </span>
           </a>
       
           <p class="desc">
             Lorem ipsum dolor sit amet, consectetur adipisicing elit. Recusandae
             dolores, possimus pariatur animi temporibus nesciunt praesentium 
           </p>
       
           <a type="button" (click)="gotoPage('checkout')" class="action">
             Find out more
             <span aria-hidden="true">
               →
             </span>
           </a>
         </div>
       </div>
  </div>
</div>
</div>
